[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
python-dotenv = "*"

[packages]
flask = "==1.1.2"
gunicorn = "*"
psycopg2 = "*"
python-dotenv = "*"
eventlet = ">=0.24.1"

[requires]
python_version = "3.8"
