@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700;900&display=swap');
#us-main{
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 150vh;
    z-index: 0;
}
#main-img{
    background-image: url("../img/bg1.jpg");
    height: 100%;
    width: 100%;
    --least-height:150%;
    --max-height:150%;
    --scroll_velocity: 0.1;
}
#us-inner{
    padding-top:100px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: space-around;
}
#us-inner > span{
    display: inline-block;
    position: relative;
    text-align: center;
    font-family: 'Noto Sans TC',sans-serif;
    font-weight: 300;
}
#us-inner > span .img-outer{
    /*z-index: 2;*/
}
#us-inner > span .img{
    position: absolute;
    top: 0;
    left: calc(50% - 120px/2);
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /*filter: blur(2px);*/
    transition: transform 0.3s ease-out 0s;
    transform-style: preserve-3d;
    cursor: pointer;
    z-index: 2;
}
#us-inner > span .img.effect-dodging-stop{
    transform: scale(0.9,0.9);
}
#us-inner > span .name{
    color:#ffedba;
    margin-top: 130px;
    font-size: 1.5rem;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 300;
}
#us-inner > span .title{
    color:#ffffff;
    font-size: 1.2rem;
}
#us-inner > span .img::after{
    position: relative;
    display: inline-block;
    background: radial-gradient(circle, rgba(78,237,125,1) 50%, rgba(69,75,73,0.30902783476671913) 77%);
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transition: transform 0.3s ease-out 0s;
    transform: translateZ(-1px);
    z-index: 1;
}
#us-inner > span .img.effect-dodging-stop::after{
    transform: scale(1.3,1.3) translateZ(-1px);
}
.flex-break{
    flex-basis: 100%;
    height: 0;
}

#us-inner > span .details{
    background-color: rgba(20, 33, 24, 0.8);
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    text-align: center;
    transition: visibility .5s linear 0s, background-color .5s linear 0s;
    z-index: 100;
}
#us-inner > span .details.hidden{
    visibility: hidden;
    background-color: rgba(20, 33, 24, 0);
}

#us-inner > span .details-inner{
    position: relative;
    display: inline-flex;
    flex-direction: column;
    margin-top: 5vh;
    width: 70%;
    height: calc(100vh - 5vh - 5vh);/* all - topMargin - bottomSpace */
    background-color: rgba(84, 135, 235, 0);
    align-items: center;
    /*overflow-y: scroll;*/
    z-index: 90;
}
#us-inner > span .details-inner .details-text{
    position: relative;
    display: inline-flex;
    flex-grow: 1;
    align-items: stretch;
    width: 100%;
    margin-top: 10%;
    background:linear-gradient(90deg, #f8ff00 0%, #3ad59f 100%);;
    border-top-left-radius: 10%;
    border-bottom-left-radius: 10%;
    transition: width .5s cubic-bezier(.36,.03,.39,1) 0s;
    overflow: hidden;
    z-index: 120;
}
#us-inner > span .details.hidden .details-inner .details-text{
    width: 0;
}

#us-inner > span .details-inner .details-name{
    position: absolute;
    display: inline;
    font-size: 3rem;
    font-family: "Noto Sans TC",sans-serif;
    text-shadow: -5px -5px 0px orangered;
    color: #a8a8a8;
    font-weight: 900;
    margin-top: 10%;
    left: 20%;
    transform: translateY(-50%);
    transition: transform .5s ease-in-out 0s;
    z-index: 130;
}
#us-inner > span .details.hidden .details-inner .details-name{
    transform: translateY(-50vh);
}

#us-inner > span .details-inner .details-img{
    position: absolute;
    display: inline-block;
    /*flex-grow: 0.5;*/
    width: 20%;
    height: 100%;
    top: 0;
    left: 0;
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: width .5s ease-in-out 0s;
    z-index: 125;
}
#us-inner > span .details-inner .details-img.active{
    /*flex-grow: 2;*/
    width: 75%;
}
#us-inner > span .details-inner .details-img span {
    background-color: #182848;
    width: 15px;
    height: 30px;
    content: '';
    display: inline-block;
    position: relative;
    margin-left: 100%;
    transform: translateY(-100%);
    top: 100%;
    cursor: pointer;
    transition: background-color .3s ease-in-out 0s;
    
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
#us-inner > span .details-inner .details-img span:hover{
    background-color: #3a47d5;
}
#us-inner > span .details-inner .details-img span .fa-caret-right{
    position: absolute;
    font-size: 120%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    color: white;
    transition: font-size .3s ease-in-out 0s, transform .5s ease-in-out 0s;
}
#us-inner > span .details-inner .details-img.active span .fa-caret-right{
    transform: rotateZ(-180deg) translateX(10%);
}
#us-inner > span .details-inner .details-img span:hover .fa-caret-right{
    font-size: 150%;
}
#us-inner > span .details-inner .details-intro{
    position: relative;
    display: inline-flex;
    flex-direction: column;
    height: 100%;
    width: 80%;
    margin-left: auto;
    overflow-y: scroll;
    /*flex-grow: 1;*/
    scrollbar-width: none; /*firefox only*/
}
#us-inner > span .details-inner .details-intro::-webkit-scrollbar{
    display: none; /*webkit only*/
}
#us-inner > span .details-inner .details-job{
    position: relative;
    margin: 3% auto;
    background-color: black;
    color: white;
    display: inline-block;
    padding: 1px 10px;
    font-family: "Noto Sans TC",sans-serif;
    font-weight: 500;
    font-size: 2rem;
    border-radius: 2rem;
    transition: transform .2s ease-in-out .3s, opacity .2s ease-in-out .3s;
}
#us-inner > span .details.hidden .details-inner .details-job{
    transform: translateX(-10px);
    opacity: 0;
    transition: transform .2s ease-in-out 0s, opacity .2s ease-in-out 0s;
}
#us-inner > span .details-inner .details-words{
    position: relative;
    display: block;
    font-size: 1.25rem;
    color: black;
    font-family: "Noto Sans TC",sans-serif;
    font-weight: 300;
    width: 100%;
    padding: 0 10%;
    transition: transform .2s ease-in-out .5s, opacity .2s ease-in-out .5s;
}
#us-inner > span .details.hidden .details-inner .details-words{
    transform: translateX(-10px);
    opacity: 0;
    transition: transform .2s ease-in-out 0s, opacity .2s ease-in-out 0s;
}