* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body, html {
    margin:0px;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    position: static;
}
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700;900&display=swap');
@font-face{
    src: url("../font/minecraft.woff");
    font-family: minecraft;
}
@font-face{
    src: url("../font/menlo.woff");
    font-family: menlo;
}
#loading{
    position: fixed;
    display: block;
    z-index: 100;
    background-color: black;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    text-align: center;
    visibility: visible;
    opacity: 1;
    transition:opacity .5s linear 0s, visibility .5s linear 0s;
}
#loading span{
    color: deepskyblue;
    font-family: menlo,monospace;
    font-size: 1.5rem;
    position: relative;
    margin-top: 50vh;
    top: 0;
    display: inline-block;
    transform: translateY(-50%);
    transition:top .5s ease-in-out 0s;
    cursor: not-allowed;
}
#loading p{
    color: lightgray;
    font-size: 1rem;
    position: relative;
    display: inline-block;
    font-style: italic;
    transition:transform .5s ease-in-out 0s;
}
#loading.hidden{
    opacity: 0;
    visibility: hidden;
}
#loading.hidden span{
    top: 100vh;
}
#loading.hidden p{
    transform: translateY(100vh);
}
.navbar{
    z-index: 5;
    padding-top: 100px;
    top: -100px;
    background-color: rgba(51,51,51,0.8);
    font-family:consolas, monospace;
    line-height: 60px;
    height: auto;
    max-height: 200px; /*(padding-top)+(line-height)+(word-height)*/
    list-style-type: none;
    /*opacity: 0.8;*/
    overflow: hidden;
    position: fixed;
    width: 100%;
    transition: transform .3s cubic-bezier(.15,.02,.24,1.82),background-color .3s linear .2s,max-height .5s ease-in-out 0s;
    transform: translateY(0px);
}
body.before-loaded .navbar{
    max-height: 100px;
}
.navbar.hidden{
    transform: translateY(-100%);
}
.navbar ul {
    display: flex;
    align-content:center;
    margin:0px;
    padding:0px;
    font-size:1.2rem;
}

.navbar li {
    float: left;
    display: inline-block;
    padding:10px 10px;
    overflow: hidden;
    position: relative;
}

.navbar li a {
    line-height: 1.3rem;
    position: relative;
    display: inline-block;
    color: rgba(255,255,255,1);
    text-align: center;
    padding: 5px 5px;
    text-decoration: none;
    border-radius:5px;
    transition-property: opacity,visibility,transform;
    transition-duration: .6s;
    transition-timing-function: ease-in-out;
    z-index: 50;
}

.navbar li a:hover {
    background-color: #111;
}
.navbar li.hidden a{
    opacity: 0;
    visibility: hidden;
    transform: translateY(60px);
}
.navbar li.bad{
    display: none
}


.colored-btn{
    
}
.colored-btn::after{
    background-color:#02a33a;
    display: inline-block;
    position:absolute;
    content: "";
    padding-bottom: 100%;
    padding-top: 100%;
    width: 200%;
    bottom: -50%;
    left:-50%;
    border-radius: 40%;
    transform: translateY(100%) rotate(-45deg);
    transition: transform 1s ease-in-out 0s,background-color .3s linear .2s;
    z-index: 10;
    
    /*animation: spin 6s ease-in-out 1;*/
    

}
.colored-btn.orange::after{ background-color:rgba(255, 120, 40, 1);}
.colored-btn.green::after{ background-color:rgba(0, 186, 50,1);}
.colored-btn.blue::after{ background-color:rgba(43, 156, 255, 1);}
.colored-btn.running::after{
    transform: translateY(0%) rotate(315deg);
}
@keyframes spin{
    0%{
        transform:  rotate(0deg);
        
    }
    100%{
        transform:  rotate(360deg);
    }
}
.navbar.light-effect{
    background-color: #1CB5E0;
}
.navbar.light-effect li a{
    color: white;
}
.navbar.light-effect li a:hover{
    
}
.navbar.light-effect .colored-btn::after{
    background-color: #3a47d5;
}

#home-btn::after{ 
    background-color:rgba(255, 120, 40, 1);
}


#jellies img{
    z-index: 8;
    position: absolute;
    opacity: 1;
}


#cover{
    position: absolute;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(28, 28, 28, 0.1);
}
#cover .title{
    position: relative;
    display: inline-block;
    padding-top: 10%;
}
#cover .title > *{
    position: relative;
    
}
#cover .title > .maintitle{
    font-family:"menlo", monospace;
    color: #FFFFFF;
    font-size: 4em;
    display: block;
    animation-name: fadein,shadow;
    animation-duration: 2s;
    animation-fill-mode: both;
    
}
body.before-loaded .title > .maintitle{
    animation-name: none !important;
}
#cover .title > .subtitle{
    font-family:"Noto Sans TC", monospace;
    font-weight: 500;
    color: #FFFFFF;
    display: block;
    font-size: 2rem;
    margin-left: 5vw;
    animation: fadein 2s ease 0s 1 normal backwards running;
}
body.before-loaded #cover .title > .subtitle{
    animation: none;
}
#cover .title > .subtitle.viral{
    animation: shake 0.5s linear 0s infinite normal none running;
}

@keyframes shadow{
    0%{
        text-shadow: 0px 0px 0px white;
    }
    100%{
        text-shadow: -10px -10px 0px #0c35b0;
    }
}
@keyframes fadein{
    0%{
        transform: translateY(30px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes shake{
    0%{
        transform: rotateZ(0) translateX(50px) translateY(0px) ;
    }
    12.5%{
        transform: rotateZ(-30deg) translateX(30px) translateY(10px);
    }
    25%{
        transform: rotateZ(-40deg) translateX(0px) translateY(0px) ;
    }
    37.5%{
        transform: rotateZ(-30deg) translateX(-30px) translateY(-10px) ;
    }
    50%{
        transform: rotateZ(0) translateX(-50px) translateY(0px) ;
    }
    62.5%{
        transform: rotateZ(30deg) translateX(-30px) translateY(10px) ;
    }
    75%{
        transform: rotateZ(40deg) translateX(0px) translateY(0px) ;
    }
    87.5%{
        transform: rotateZ(30deg) translateX(30px) translateY(-10px) ;
    }
    100%{
        transform: rotateZ(0) translateX(50px) translateY(0px) ;
    }
}


#main-img{
    --scroll_velocity: 0.2;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
    height: 150vh;
    --least-height:100%;
    --max-height:150%;
    width: 100%;
    background-attachment: fixed;
    /*background-position: 50% 0px;*/
    background-repeat: no-repeat;
    background-size: cover;
    /*filter: blur(2px);*/
    
}
#main{
    color: white;
    position: absolute;
    top: 120%;
    /*background-color: #252c36;*/
    background-color: #252c36;
    font-size:2em;
    box-shadow:0px -50px 120px 100px #252c36;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 500;
    text-align: center;
}
.intro{
    position: relative;
    margin-top: 200px;
    padding-top: 100px;
    height: 100vh;
}
.intro-inner{
    text-align: left;
    display: inline-block;
    width: 80%;
}
.intro-title{
}
.effect.hidden{
    visibility: hidden;
}
.bar{
    height: 10px;
    width: 100px;
    background-color: white;
    margin-top: 5px;
    margin-bottom: 5px;
    transition: width .5s cubic-bezier(.15,.02,.24,1.82) .5s;
}
.bar.hidden{
    width: 0px;
}
.intro a{
    text-decoration-line: none;
    color: #c4ff94;
    transition: transform .1s linear 0s, text-shadow .1s linear 0s;
}
.intro a:hover{
    transform: translateY(-10%);
    text-shadow: 0px 3px 0px  #658748;
}





/*for test onlyXD*/
#test{
    visibility: hidden;
}
#test.viral{
    visibility: visible;
}


