{% extends "base.html" %}
{% block header %}
    <link type="text/css" href="css/about_us.css" rel="stylesheet">
{% endblock %}
{% block title %}about us | INFOR 33rd{% endblock %}
{% block main %}
    <div id="us-main">
        <div id="main-img"></div>
        <div id="us-inner">
            <span>
                <div class="img effect effect-dodging hidden" style="background-image: url('../img/us/swear.jpg')" data-mouse_interact_radius=200 data-movement_radius=300></div>
                <div class="name">黃思維</div>
                <div class="title">學術兼行政</div>
            </span>
            <span>
                <div class="img effect effect-dodging hidden" style="background-image: url('../img/us/量子小灰灰.jpg')" data-mouse_interact_radius=200 data-movement_radius=300></div>
                <div class="name">蕭登鴻</div>
                <div class="title">副社兼美宣</div>
            </span>
            <span>
                <div class="img effect effect-dodging hidden" style="background-image: url('../img/us/foreverdodo.png')" data-mouse_interact_radius=200 data-movement_radius=300></div>
                <div class="name">林致中</div>
                <div class="title">網管兼學術(渣)</div>
            </span>
        </div>
    </div>
    
        
        
{% endblock %}