{% extends "base.html" %}
{% block header %}
    <link type="text/css" href="css/about_us.css" rel="stylesheet">
    <script type="module" src="js/about_us.js"></script>
{% endblock %}
{% block title %}about us | INFOR 33rd{% endblock %}
{% block main %}
    <div id="us-main">
        <div id="main-img"></div>
        <div id="us-inner">
            {% for i,person in enumerate(workers) %}
                <span id='{{person.name}}'>
                    <div class="img-outer">
                        <div class="img" style="background-image: url('../img/us/{{person.photo_filename}}')" data-mouse_interact_radius=200 data-movement_radius=300></div>
                    </div>
                    <div class="name">{{person.name}}</div>
                    <div class="title">{{person.job}}</div>
                    <div class="details hidden">
                        <div class="details-inner">
                            <div class="details-name">{{person.name}}</div>
                            <div class="details-text">
                                <div class="details-img" style="background-image: url('../img/us/{{person.photo_filename}}')">
                                    <span>
                                        <i class="fas fa-caret-right"></i>
                                    </span>
                                </div>
                                <div class="details-intro">
                                    <span class="details-job">{{person.job}}</span>
                                    <span class="details-words">
                                        {{person.intro |safe}}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </span>
            
                {% if i in gaps %}
                    <div class="flex-break"></div>
                {% endif %}
            
            {% endfor %}
        </div>
    </div>
    
        
        
{% endblock %}