{% extends "base.html" %}
{% block header %}
    <link type="text/css" href="css/about_us.css" rel="stylesheet">
    <script type="module" src="js/about_us.js"></script>
{% endblock %}
{% block title %}about us | INFOR 33rd{% endblock %}
{% block main %}
    <div id="us-main">
        <div id="main-img"></div>
        <div id="us-inner">
            <span id='廖翊廷'>
                <div class="img-outer">
                    <div class="img effect effect-dodging hidden" style="background-image: url('../img/us/社長.jpg')" data-mouse_interact_radius=200 data-movement_radius=300></div>
                </div>
                <div class="name">廖翊廷</div>
                <div class="title">社長</div>
                <div class="details hidden">
                    <div class="details-inner">
                        我我我
                    </div>
                </div>
            </span>
            <span>
                <div class="img-outer">
                    <div class="img effect effect-dodging hidden" style="background-image: url('../img/us/swear.jpg')" data-mouse_interact_radius=200 data-movement_radius=300></div>
                </div>
                <div class="name">黃思維</div>
                <div class="title">學術兼行政</div>
            </span>
            <span>
                <div class="img-outer">
                    <div class="img effect effect-dodging hidden" style="background-image: url('../img/us/量子小灰灰.jpg')" data-mouse_interact_radius=200 data-movement_radius=300></div>
                </div>
                <div class="name">蕭登鴻</div>
                <div class="title">副社兼美宣</div>
            </span>
            <span>
                <div class="img-outer">
                    <div class="img effect effect-dodging hidden" style="background-image: url('../img/us/foreverdodo.png')" data-mouse_interact_radius=200 data-movement_radius=300></div>
                </div>
                <div class="name">林致中</div>
                <div class="title">網管兼學術(渣)</div>
            </span>
            <span>
                <div class="img-outer">
                    <div class="img effect effect-dodging hidden" style="background-image: url('../img/us/darrell.jpg')" data-mouse_interact_radius=200 data-movement_radius=300></div>
                </div>
                <div class="name">游至捷</div>
                <div class="title">行政兼外交</div>
            </span>
            <div class="flex-break"></div>
            <span>
                <div class="img-outer">
                    <div class="img effect effect-dodging hidden" style="background-image: url('../img/us/陳杰揚.jpg')" data-mouse_interact_radius=200 data-movement_radius=300></div>
                </div>
                <div class="name">陳杰揚</div>
                <div class="title">美宣</div>
            </span>
            <span>
                <div class="img-outer">
                    <div class="img effect effect-dodging hidden" style="background-image: url('../img/us/陳庭宇.jpg')" data-mouse_interact_radius=200 data-movement_radius=300></div>
                </div>
                <div class="name">陳庭宇</div>
                <div class="title">行政兼外交</div>
            </span>
            <span>
                <div class="img-outer">
                    <div class="img effect effect-dodging hidden" style="background-image: url('../img/us/swear.jpg')" data-mouse_interact_radius=200 data-movement_radius=300></div>
                </div>
                <div class="name">黃思維</div>
                <div class="title">學術兼行政</div>
            </span>
            <div class="flex-break"></div>
            <span>
                <div class="img-outer">
                    <div class="img effect effect-dodging hidden" style="background-image: url('../img/us/swear.jpg')" data-mouse_interact_radius=200 data-movement_radius=300></div>
                </div>
                <div class="name">黃思維</div>
                <div class="title">學術兼行政</div>
            </span>
            <span>
                <div class="img-outer">
                    <div class="img effect effect-dodging hidden" style="background-image: url('../img/us/swear.jpg')" data-mouse_interact_radius=200 data-movement_radius=300></div>
                </div>
                <div class="name">黃思維</div>
                <div class="title">學術兼行政</div>
            </span>
            <span>
                <div class="img-outer">
                    <div class="img effect effect-dodging hidden" style="background-image: url('../img/us/swear.jpg')" data-mouse_interact_radius=200 data-movement_radius=300></div>
                </div>
                <div class="name">黃思維</div>
                <div class="title">學術兼行政</div>
            </span>
            <span>
                <div class="img-outer">
                    <div class="img effect effect-dodging hidden" style="background-image: url('../img/us/swear.jpg')" data-mouse_interact_radius=200 data-movement_radius=300></div>
                </div>
                <div class="name">黃思維</div>
                <div class="title">學術兼行政</div>
            </span>
        </div>
    </div>
    
        
        
{% endblock %}