<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="Forever-CodingNoob">
        <link type="text/css" href="css/base.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700;900&display=swap" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script type="module" src="js/base.js"></script>
        {% block header %}{% endblock %}
        <title>{% block title %}{% endblock %}</title>
	</head>
	<body class="before-loaded">
        <div id="loading">
            <span>Loading...</span><br>
            <p>古人有云:是半成品也。</p>
        </div>
		<nav class="navbar" id="main-nav">
			<ul>
                <li class="colored-btn hidden" id="home-btn">
                    <a class="active" href="{{url_for('home')}}">Home</a>
                </li>
                <li class="colored-btn green hidden">
                    <a href="{{url_for('about_us')}}">About us</a>
                </li>
                <li class="colored-btn green hidden bad">
                    <a href="#amongus">Among us</a>
                </li>
                <li class="colored-btn green hidden">
                    <a href="#class">Classes</a>
                </li>
                <li class="colored-btn green hidden">
                    <a href="#izcc">Friends</a>
                </li>
                <li class="colored-btn green hidden">
                    <a href="https://github.com/Forever-CodingNoob/infor33rd">github repo</a>
                </li>
			</ul>
            <div id="jellies"></div>
		</nav>
        
        
        {% block main %}{% endblock %}
        
        <div style="position: fixed; z-index: 222; top:50%" id="test">
            <button id="show">show</button><br>
            <button id="show2">show</button><br>
            <button id="show3">show</button><br>
            <button id="show4">show</button><br>
            <button id="show5">show</button><br>
            <span style="background-color: white;">
                <label for="spam">SPAM JELLIES</label>
                <input type="checkbox" id="spam">
            </span>
        </div>
	</body>
</html>