{% extends "base.html" %}
    {% block header %}
        <link type="text/css" href="css/index.css" rel="stylesheet">
        <script type="module" src="js/index.js"></script>
    {% endblock %}
    {% block title %}INFOR 33rd{% endblock %}
    {% block main %}
        <div id="main-img"></div>
        
        
        <div id="cover">
            <div class="title">
                <div class="maintitle">INFOR</div>
                <div class="subtitle">建國中學資訊社 第三十三屆</div>
            </div>
        </div>
        
        
        
        <div id="main">
            <div id="intro0" class="intro">
                <div id="intro0-inner" class="intro-inner">
                    <div id="intro0-title" class="intro-title effect effect-typing effect-keep_underscore hidden" data-text="Who are we?">
                        Who are we?
                    </div>
                    <div class="bar effect effect-nothing hidden"></div>
                    <div id="intro0-text" class="intro-text effect effect-typing hidden" data-typeeffect-speed=10>
                        1987年，中華民國政府解除38年的戒嚴。在這樣改革開放的氛圍下，倡議言論自由的建中資訊社成立了。<br>建國中學資訊社， Chien Kuo Information Club(CKImC)，為一歷史悠久之社團，幹部群廣大，學長學弟間連結如神經網路般連結緊密，是一個溫馨的大家庭。<br>我們建中資訊社有優良的教學制度與悠久的歷史，培育出多名IOI資訊國手，如楊承澔、林秉軒等，與極高的台大資工錄取率。與此同時，我們社團也有良好的跨年級關係：學弟你們出一張嘴就好，學長來做！<br>除了競賽外，我們的成員在機器學習、量子運算、網路爬蟲、物聯網、遊戲等方面也有豐碩的專題研究成果，如「俄羅斯方塊之基因演算法」、「全新棋類遊戲王政棋」等。並且，我們也會在上下學期期末時各舉行一次成果發表，絕對不會讓社員的心血埋沒在塵土之中。
                    </div>
                </div>
            </div>
            <div id="intro1" class="intro">
                <div id="intro1-inner" class="intro-inner">
                    <div id="intro1-title" class="intro-title effect effect-typing effect-keep_underscore hidden" data-text="Each of us">
                        Each of us
                    </div>
                    <div class="bar effect effect-nothing hidden"></div>
                    <div id="intro1-text" class="intro-text effect effect-typing hidden" data-typeeffect-speed=10>
                        前面幹話說這麼多,倒不如直接來接觸我們<a href="{{url_for('about_us')}}">資訊社的幹部</a>,才能得知最新的第一手消息,我們的社辦在自強樓地下一樓,不過你知道這個也沒用,因為裡面平常只會有已經被保送的學長
                    </div>
                    <img src="img/img1.JPG" id="img1" class="effect effect-dodging hidden" data-mouse_interact_radius=200 data-movement_radius=300>
                </div>
            </div>
            <div id="intro2-space"></div>
            <div id="intro2" class="intro">
                <div id="intro2-inner" class="intro-inner">
                    <div id="intro2-title" class="intro-title effect effect-typing hidden" data-text="課程">
                        課程
                    </div>
                    <div class="bar effect effect-nothing hidden"></div>
                    <div class="select-panel effect effect-widthExtend hidden">
                        <div class="left-panel"></div>
                        <div class="middle-panel"></div>
                        <div class="right-panel"></div>
                    </div>
                </div>
            </div>
            
            pekopekopekopekopekopekopekopekopekopeko
            pekopekopekopekopekopekopekopekopekopeko
            pekopekopekopekopekopekopekopekopekopeko
            pekopekopekopekopekopekopekopekopekopeko
            pekopekopekopekopekopekopekopekopekopeko
            pekopekopekopekopekopekopekopekopekopeko
            pekopekopekopekopekopekopekopekopekopeko
            pekopekopekopekopekopekopekopekopekopeko
            pekopekopekopekopekopekopekopekopekopeko
            pekopekopekopekopekopekopekopekopekopeko
            pekopekopekopekopekopekopekopekopekopeko
            pekopekopekopekopekopekopekopekopekopeko
            pekopekopekopekopekopekopekopekopekopeko
            pekopekopekopekopekopekopekopekopekopeko
            pekopekopekopekopekopekopekopekopekopeko
            

        </div>
    {% endblock %}